/.github/*                 @Pascal-the-dog
/.github/workflows/*       @Pascal-the-dog
/.github/ISSUE_TEMPLATE/*  @Pascal-the-dog
/.gitattributes            @Pascal-the-dog

# Liste de fichier modifiers
/.gitignore                @Pascal-the-dog
